<!-- Search Function -->
<div id="search-function">
    <form id="form">
        <input type="search" id="query" name="q" placeholder="Search movie...">
        <button>Search</button>
    </form>
</div>


<section class="movies-row">
    <div class="flex-featured-movies">
        <!-- Movie 1 -->
        <section class="movie featured">
            <img src="img/titanic.jpg" alt="movie1" />
            <header>
                <h2>Movie 1</h2>
            </header>
        </section>

        <!-- Movie 2-->
        <section class="movie featured">
            <img src="images/pic02.jpg" alt="movie2" />
            <header>
                <h2>Movie 2</h2>
            </header>
        </section>

        <!-- Movie 3 -->
        <section class="movie featured">
            <img src="images/pic03.jpg" alt="movie 3" />
            <header>
                <h2>Movie 3</h2>
            </header>
        </section>
    </div>
</section>


