@model MovieViewModel
    <div class="flex-movie-info">

        <div class="movie-left">
            <h1>@Model.SearchedMovie.title</h1>
            <img src=@Model.SearchedMovie.poster alt="Searched movie" />
            <h3>CMDd Rating</h3>
            <p>@Model.SearchedMovie.cmdbRating</p>
            @*<button class="add-movie">Add to CMDb</button>*@
            <img class="thumbs-up" src=~/img/thumbs-up.png alt="Searched movie" onclick="addMovie(this)" />
            <img class="thumbs-down" src=~/img/thumbs-down.png alt="Searched movie" />
        </div>
        <div class="movie-info">
            <h3>Plot</h3>
            <div class="movie-plot">
                @Model.SearchedMovie.plot
            </div>
            @*<button onclick="changeButtonText()" class="read-more">Read More</button>*@
                   <button class="read-more">
                Read More
            </button>
        </div>
    </div>

    
